
body {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(16, 24, 44);
}

a {
    color: rgb(176, 182, 185);
}

a:hover {
    color: white;
    text-decoration: none;
}


#info {
    color: #E8EEF2;
    height: 100vh;
    display: table;
}

#infotext {
    display: table-cell;
    vertical-align: middle;
}

#name {
    line-height: 1;
    letter-spacing: .8rem;
    font-size: 4rem;
}

#subname {
    letter-spacing: .43rem;
    font-size: 1.4rem;
}

.divider {
    border: solid .4px #E8EEF2;
}

.portfolio {
    color: #E8EEF2;
    letter-spacing: 3px;
}

.portfolio-image {
    border: 2px solid rgb(18, 48, 65);
    width: 256px;
    height: 140px;
}

.portfolio-image:hover {
    border: 2px solid #E8EEF2;
}

#M, #E, #R, #N {
    margin-left: 1.1rem;
    margin-right: 1.1rem;
    font-size: 2.5rem;
}

#M {
    color: #12914F;
}

#E {
    color: #CB7C70;
}

#R {
    color: #61DAFB;
}

#N {
    color: #75AE64;
}

.links {
    color: #E8EEF2;
}

.git-img {
    height: 20px;
}

